/* my css style for my Basic-Portfolio */
/* Color scheme - based on CPSLO green and white
green = #00684E
gold = #B48A09
light green = #12B48C
purple = #6B0C75
dark gold = #352905
*/

header {
    width: 100%;
    margin: auto;

    line-height: 150%;

    background-color: #00684E;

    box-shadow: 0px 3px 5px 0px grey;
}

footer {
    position: fixed;
    bottom: 0;
    clear: both;

    width: 100%;
    padding: 15px 0px;

    text-align: center;

    background-color: #00684E;
    color: white;
}

h1 {
    width: 100%;

    line-height: 150%;

    border-bottom: solid;
    border-bottom-color: #00684E;

    color: #B48A09;

    font-size: 150%;
    text-indent: 3vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    /* need to set a background */
    background-color: antiquewhite;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main {
    max-width: 960px;
    width: 100%;
    margin: 5vw auto auto auto;

    background-color: snow;
    box-shadow: 0px 0px 5px 0px grey;
}

p {
    text-align: justify;
    font-size: 100%;
}

form {
    padding: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #00684E;
    color: white;
    padding: 4px;

    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #12B48C;
}

.nav-head {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    max-width: 960px;
    margin: auto;

    line-height: 50px;

    background-color: #00684E;
}

.nav-link-right {
    width: 80px;
    text-align: center;
    color: white;

    text-decoration: none;
}

.nav-link-right:hover {
    background-color: #12B48C;
}

.logo {
    margin-right: auto;
    background-color: #B48A09;
    color: white;

    padding: 0px 20px;

    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    overflow: auto; /* overflow makes the container grow in height to fit any overflowed float content*/
}

.nav-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.a-prtf {
    position: relative;
    margin: 10px;

    text-align: center;

    border: 1px solid #00684E;
}

.a-prtf:hover .span-prtf {
    background-color: #12B48C;
}

.span-prtf {
    position: absolute;
    left: 0;
    top: 70%;

    background-color: #00684E;
    color: white;
    width: 100%;
    padding: .5em 0em;
}

.bio-text {
    padding: 10px;
}

.img-float-left {
    float: left;
    margin: 10px;

    width: 30vw;
    max-width: 200px;
}

.img-float-right {
    float: right;
    margin: 10px;

    width: 20vw;
    max-width: 200px;
}

