/* my css style for my Basic-Portfolio */
/* Color scheme - based on CPSLO green and white
green = #00684E
#007F5D
gold = #B48A09
light green = #12B48C
purple = #6B0C75
dark gold = #352905
*/

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*
 * Container elements
 */

.container {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  overflow: auto;
  text-align: center;
}

/*
 * container background images
 */
.about-bg-img {
  height: 100%;
  background-image: url("/assets/images/about-background.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
 * images responsive
 */
.img-responsive {
  max-width: 100%;
  height: auto;
  margin: 0.5rem;
}

/*
 * Header and menu elements styling
 */

/* header */

.header {
  color: white;
  background-color: #00684e;

  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

  width: 100%;
  max-width: 960px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  color: white;
  background-color: #00684e;
}

.header li a {
  display: block;
  padding: 1rem 1rem;
  text-decoration: none;
  color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #007f5d;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  background-color: #B48A09;
  color: white;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 24px 24px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*
 * Text elements
 */
h1 {
  background-color: #00684E;
  color: white;

  font-size: 2rem;
  text-indent: 0.5rem;
  text-align: left;
}

p {
  text-align: justify;
  margin: 0.5rem;
}

.over-img {
  background-color: rgba(0,0,0, 0.7);
  color: white;
  padding: 0.5rem;
}

@media (min-width: 576px) {
  .header li {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .img-responsive {
    float: left;
  }
}
